@import './templates/body.css';
@import './templates/navbar.css';
@import './templates/category.css';
@import './templates/listerner.css';
@import './templates/footer.css';
@import './templates/hover.css';


/* GO BACK */
#go_back{
    width: 327px;
    height: 60px;
    display: flex;
    align-items: center;
}
#go_back a{
    color: #000;
    opacity: 0.5;
    text-decoration: none;
}
/* PRODUCT DETAILS */
#pdt_container{
    width: 327px;
    height: 800px;
    display: flex;
    flex-direction: column;
}
#grey_box{
    width: 327px;
    height: 327px;
    background-color: #F1F1F1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}
#pdt_picture{
    background-image: url('../images/xx99Page/xx99_mark2_picture.png');
    width: 181px;
    height: 201px;
    background-position: center center;
    background-size: cover;
    
}
#new_pdt{
    color: #D87D4A;
    font-size: 14px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
#pdt_description{
    font-weight: 500;
    opacity: 0.5;
}
#price{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.3px;
    color: black;
}
#cart{
    display: flex;
}
#cart p,
.count{
    width: 40px;
    height: 48px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#cart p{
    font-weight: 700;
}
#add_btn{
    width: 160px;
    height: 48px;
    background-color: #D87D4A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 5%;
}
#pdt_number{
    display: flex;
    justify-content: center;
}
#pdt_text{
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

/* FEATURE  */
#feature{
    width: 327px;
    height: 560px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex-shrink: 0;
}
#feature p{
    opacity: 0.5;
}

/* IN THE BOX */
#inthebox{
    width: 327px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex-shrink: 0;
}
.orange_span{
    color: #D87D4A;
    font-weight: 700;
    margin-right: 8%;
}
#inthebox p{
    color: #7D7D7D;
}

/* PICTURES */
#grid_pictures{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 3%;
    margin-bottom: 8%;
    justify-content: center;
}

#guy_picture{
    background-image: url('../images/xx99Page/listener_picture.png');
    width: 327px;
    height: 174px;
    justify-self: center;
    border-radius: 8px;
    grid-row: 1/2;
}
#above_picture{
    background-image: url('../images/xx99Page/above_picture.png');
    width: 327px;
    height: 174px;
    justify-self: center;
    border-radius: 8px;
    grid-row: 2/3;
}
#zoom_picture{
    background-image: url('../images/xx99Page/zoom_picture.png');
    grid-row: 3/5;
    border-radius: 8px;
}

/* YOU MAY LIKE */
#like{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#like_grid{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}
.like_grey_box{
    background-color: #F1F1F1;
    width: 327px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
#pic1{
    background-image: url('../images/xx99Page/like_xx99.png');
}
#pic2{
    background-image: url('../images/YouMayLike/xx59_like_mobile.png');
    background-repeat: no-repeat;
    background-position: center center;
}
#pic3{
    background-image: url('../images/xx99Page/like_zx9.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.like_picture{
    width: 73px;
    height: 95px;
}
#box1{
    grid-row: 1/2;
}
#box1{
    grid-row: 2/3;
}
.like_box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}
.like_box h4{
    font-size: 24px;
}
.see_pdt_btn{
    width: 160px;
    height: 48px;
    background-color: #D87D4A;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    border: none;
}

/* MEDIA QUERY TABLET SIZE */
@media only screen and (min-width: 768px) {

    /* PRODUCT DETAILS */
    #go_back{
        width: 689px;
        flex-shrink: 0;
    }
    #pdt_container{
        width: 689px;
        height: 500px;
        flex-wrap: wrap;
    }
    #grey_box{
        width: 281px;
        height: 480px;
    }
    #pdt_details{
        width: 339px;
    }
    #pdt_text{
        justify-content: center;
        height: 480px;
    }
    /* FEATURE */
    #feature{
        width: 689px;
        height: 300px;
    }
    #feature h4{
        font-size: 32px;
    }
    /* IN THE BOX */
    #inthebox{
        width: 689px;
        flex-direction: row;
    }
    #inthebox_title{
        width: 50%;
    }
    #inthebox_title h4{
        font-size: 32px;
        
    }
    #inthebox_items{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    /* GRID PICTURES */
    #grid_pictures{
        width: 689px;
        grid-template-columns: 277px 368px;
        grid-template-rows: 1fr 1fr;
    }
    #guy_picture{
        background-image: url('../images/xx99Page/listener_picture_tablet.png');
        width: 277px;
        height: 174px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #above_picture{
        background-image: url('../images/xx99Page/above_picture_tablet.png');
        grid-column: 1/2;
        grid-row: 2/3;
        width: 277px;
        height: 174px;
    }
    #zoom_picture{
        background-image: url('../images/xx99Page/zoom_picture_tablet.png');
        grid-column: 2/4;
        grid-row: 1/3;
        width: 380px;
        height: 368px;
    }
    /* YOU MAY ALSO LIKE */
    #like{
        width: 689px;
        margin-top: 50px;
    }
    #like_grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 200px;
        gap: 11px;
        margin-top: 50px;
    }
    .like_grey_box{
        width: 223px;
        height: 318px;
    }
    #pic1{
        background-image: url('../images/xx99Page/like_xx99_tablet.png');
        width: 148px;
        height: 193px;
        background-position: center center;
        background-size: cover;
    }
    #pic2{
        background-image: url('../images/YouMayLike/xx59_like_tablet.png');
        width: 190px;
        height: 193px;
        background-position: center center;
        background-size: cover;
    }
    #pic3{
        background-image: url('../images/xx99Page/like_zx9_tablet.png');
        width: 148px;
        height: 193px;
        background-position: center center;
        background-size: cover;
    }
    #grey3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
}

/* DESKTOP SIZE */
@media only screen and (min-width: 1440px) {

    /* GO BACK */
    #go_back{
        width: 1110px;
        height: 150px;
    }
    /* PRODUCT DETAILS */
    #pdt_container{
        width: 1110px;
        height: 540px;
        margin-bottom: 5%;
    }
    #grey_box{
        width: 560px;
        height: 540px;
        flex-shrink: 0;
    }
    #pdt_picture{
        width: 350px;
        height: 386px;
    }
    #pdt_title{
        font-size: 40px;
    }
    #pdt_text{
        width: 460px;
    }
    /* FEATURE */
    #feature_box{
        width: 1110px;
        display: flex;
        margin-bottom: 5%;
    }
    #feature{
        width: 653px;
    }
    /* IN THE BOX */
    #inthebox{
        flex-direction: column;
        width: 457px;
        align-items: center;
    }
    /* GRID PICTURES */
    #grid_pictures{
        width: 1110px;
        grid-template-columns: 445px 635px;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
        column-gap: 0;
        gap: 32px;
    }
    #guy_picture{
        background-image: url('../images/xx99Page/listener_picture_desktop.png');
        width: 445px;
        height: 280px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #above_picture{
        background-image: url('../images/xx99Page/shoe_picture_desktop.png');
        width: 445px;
        height: 280px;
    }
    #zoom_picture{
        background-image: url('../images/xx99Page/zoom_picture_desktop.png');
        width: 635px;
        height: 592px;
    }
    /* LIKE */
    #like{
        width: 1110px;
        column-gap: 60px;
        align-items: initial;
    }
    .like_grey_box{
        width: 350px;
    }
    /* LIKE */
    #pic2{
        background-image: url('../images/YouMayLike/xx59_like_desktop.png');
    }
}