<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <title>Navbar tepmlate</title>
</head>
<body>
       <!-- NAVIGATION BAR -->
<section id="mainPage">
    <nav id="navbar">
        <i id="menu_bars" class="fa-solid fa-bars"></i>
        <img id="logo" style="color: white;" src="images/Homepage/Mobile/audiophile_Logo.png" alt="Audiophile logo">
        <div id="nav_menu_up">
            <a href="Homepage.html">Home</a>
            <a href="HeadphonePage.html">headphones</a>
            <a href="SpeakersPage.html">speakers</a>
            <a href="EarphonesPage.html">earphones</a>
        </div>
        <i id="cart_icon" class="fa-solid fa-cart-shopping"></i>
    </nav>
    <div id="separation_line"></div>
</section>    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>